<!DOCTYPE html>
	<html>
	<head>
		<title>NCR Web Form</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="styles\custom.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PRIVATE">
	</head>
	<body>
    <!-- Start of Navbar -->
		<!-- End of Navbar -->    