<%- include partials/header.ejs %>             
	    <form method="POST" action="/submit-login" id="login">
        <div class="login-form">
          <h1 class="tsto_title">Form submitted succesfully!</h1>
          <h1>You may now close the page.</h1>
      </div>      
    </form>